h1{
    color: rgb(99, 4, 4);
    text-align: center;
    font-size: 40px;

}
body{
    background-color: antiquewhite;
}
p{
    border: 1px solid black;  
}

h2{
    background-color: rgb(161, 166, 167);
}

h3{
    text-decoration: underline wavy;
}

img{
    
     padding: 10px 20px 10px 20px;  
     margin-bottom: 20px; 
}